<% content_for :title, "Inscription sur Ceremonia" %>
<% content_for :meta_description, "Rejoignez Ceremonia et créez votre compte dès maintenant. Inscrivez-vous pour accéder à toutes les fonctionnalités et bénéficier d'une expérience personnalisée." %>
<div class="container-custom couple-bg-container apparitionprofil">
  <h2 style="color: #ffffff; text-shadow: 1px 1px 20px #000000;">S'inscrire</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true, onsubmit: "return validateTermsCheckbox()" }) do |f| %>
    <div class="mb-3">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :mot_de_passe %>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :confirmation_du_mot_de_passe %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", required: true %>
    </div>
    <div class="mb-3">
      <%= check_box_tag :terms_of_use, '1', false, id: "terms_of_use_checkbox", class: "form-check-input" %>
      <label class="form-check-label" for="terms_of_use_checkbox">J'ai lu et j'accepte les <a href="/terms">Termes d'Utilisation</a></label>
    </div>
    <div class="action d-flex justify-content-center">
      <%= f.submit "Valider mon inscription", class: "sweetButton btn-lg", style: "color: #ffffff; background-color: #e4685d;" %>
    </div>
  <% end %>
  <br>
  <div class="text-center mt-4">
    <h6 class= "d-flex justify-content-center text-center mt-4" style = "text-color: #e4685d;">
      Vous avez déjà un compte sur Ceremonia ?
    </h6>
    <div class=" d-flex justify-content-center text-center">
      <%= button_to "Se connecter", new_session_path(resource_name), class: "sweetButton btn-lg mt-1" %>
    </div>
  </div>
</div>
<script>
  function validateTermsCheckbox() {
    var checkbox = document.getElementById('terms_of_use_checkbox');
    if (!checkbox.checked) {
      alert("Vous devez accepter les Termes d'Utilisation pour vous inscrire.");
      return false;
    }
    return true;
  }
</script>
