<div class="container-custom couple-bg-container apparitionprofil">
  <h2 style="color: #ffffff; text-shadow: 1px 1px 20px #000000;">Mot de passe oublié ?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "needs-validation" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="actions">
      <%= f.submit "Envoyez moi un Email" %>
    </div>
  <% end %>
</div>


