<div class="event-cover">
  <h1><%= @event.title %></h1>
  <p><%= @event.date.strftime('%d-%m-%Y') %></p>
</div>
<div class="event-content">
  <h2> les lieux important </h2>
  <% @event_locations.each do |event_location| %>
    <div>
      <p><%= event_location.location.place %></p>
      <p><%= event_location.location.address %></p>
      <p><%= event_location.date %></p>
    </div>
  <% end %>
    <div class="d-flex justify-content-center mt-5 mx-auto">
      <%= link_to "ajouter un lieux de érémonie", new_location_path, class: "btn sweetButton mx-auto" %>
    </div>
</div>
<div class="event-content">
  <h2> les invités </h2>
  <p>Nombre d'invités : <%= @guest_users.size %></p>
  <div class="d-flex justify-content-center mt-5 mx-auto">
    <%= link_to "voir la liste d'inviter", guest_list_event_path, class: "btn sweetButton mx-auto" %>
  </div>
</div>
<div class="event-content">
  <%= render "details"%>
  <%= render "program"%>
</div>

<%= link_to "modifier l'évenement", edit_event_path(@event), class: "btn sweetButton mx-auto" %>
<%= button_to 'Supprimer', @event, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet événement ?' } %>
