<%= form_for(@event, html: { class: 'event-form' }) do |f| %>
<div class="form-group">
  <%= f.label :titre %><br />
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :date %><br />
  <%= f.date_field :date, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :ville %><br />
  <%= f.text_field :city_name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :description %><br />
  <%= f.rich_text_area :description, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :programme %><br />
  <%= f.rich_text_area :program, class: 'form-control' %>
</div>
<br>
<div class=" d-flex justify-content-center gap-4">
  <% if @event.persisted? %>
    <%= link_to "Annuler", event_path(@event.id), class: 'warningButton' %>
  <% else %>
    <%= link_to "Annuler", events_path, class: 'warningButton' %>
  <% end%>
  <%= f.submit "Validez", class: 'sweetButton margin-right: 10px' %>
  <% end %>
</div>

