<% content_for :title, "Gestion des Invités" %>
<% content_for :meta_description, "Consultez et gérez la liste des invités de votre événement. Ajoutez, supprimez ou modifiez les détails des invités." %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Supprimer cet invité</th>
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.first_name %></td>
        <td><%= guest.last_name %></td>
        <td><%= guest.email %></td>
        <td><%= link_to 'Remove Guest', remove_guest_event_path(id: @event.id, user_id: guest.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Bouton "Add Guest" -->
<%# <button id="add-guest-button">Ajouter un invité</button> %>
<!-- Formulaire pour ajouter un invité -->
<div id="add-guest-form" ><!---style="display: none;" -->
  <%= form_with url: add_guest_event_path(@event), method: :post do |form| %>
    <%= form.label :first_name, "Prénom" %>
    <%= form.text_field :first_name %>
    <%= form.label :last_name, "Nom" %>
    <%= form.text_field :last_name %>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
    <%= form.submit "Ajouter cet invité" %>
  <% end %>
</div>

<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    const addGuestButton = document.getElementById('add-guest-button');
    var clickAddGuestButton = function() {
      let addGuestForm = document.getElementById('add-guest-form');
      addGuestForm.style.display = (addGuestForm.style.display === 'block') ? 'none' : 'block';
    };
    addGuestButton.addEventListener('click', clickAddGuestButton);
  });
</script> %>
