<div class="event-container animate-bottom text-center mt-5">
  <h1 class="guest-heading mb-4">Liste des invités</h1>

  <% if @guest_users.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @guest_users.each do |user| %>
          <tr>
            <td><%= user.last_name %></td>
            <td><%= user.first_name %></td>
            <td><%= user.email %></td>
            <!-- Afficher d'autres informations si nécessaire -->
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="mb-4">Dommage, personne ne s'est encore inscrit en tant qu'invité.</p>
  <% end %>

  <h1 class="guest-heading mt-5 mb-4">Détails de l'événement</h1>

  <p class="mb-2"><strong>Titre :</strong> <%= @event.title %></p>
  <p class="mb-2"><strong>Date :</strong> <%= @event.date %></p>
  <p class="mb-4"><strong>Programme :</strong> <%= @event.program %></p>

  <!-- Ajoutez cette balise img avec le chemin de votre image -->
  <img src="https://images.unsplash.com/photo-1624634564754-e45be6d06159?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fG1hcmlhZ2UlMjBldmVuZW1lbnR8ZW58MHx8MHx8fDA%3D" alt="Description de l'image">
</div>
<%= link_to 'Add Location', add_location_event_path(@event) %>
<div>
  <h2>Le(s) lieu(x) d'intret(s) lié a cet événement</h2>
  <% @event_locations.each do |event_location| %>
    <div class="guest-heading">
      <p class="mb-2"><%= event_location.location.place %></p>
      <p class="mb-2"><%= event_location.date %></p>
    <div>
  <% end %>
</div>
