<div class="event-container animate-bottom text-center mt-5">
  <h1 class="guest-heading mb-4">Liste des invités</h1>

  <% if @guest_users.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @guest_users.each do |user| %>
          <tr>
            <td><%= user.last_name %></td>
            <td><%= user.first_name %></td>
            <td><%= user.email %></td>
            <!-- Afficher d'autres informations si nécessaire -->
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="mb-4">Dommage, personne ne s'est encore inscrit en tant qu'invité.</p>
  <% end %>

  <h1 class="guest-heading mt-5 mb-4">Détails de l'évènement</h1>

  <p class="mb-2"><strong>Titre :</strong> <%= @event.title %></p>
  <p class="mb-2"><strong>Date :</strong> <%= @event.date %></p>
  <p class="mb-4"><strong>Programme :</strong> <%= @event.program %></p>
</div>
