<% content_for :title, "Lieux du Mariage" %>
<% content_for :meta_description, "Explorez tous les lieux disponibles pour votre mariage. Créez de nouveaux lieux pour rendre votre événement unique. Découvrez les détails de chaque lieu, y compris l'adresse et d'autres informations importantes." %>
<div id="location_index" class="text-center">

  <h2>Tous les lieux que vous pouvez ajouter à vos événements</h2>


  <div class="location-cards-container">
    <% @public_locations.each do |public_location|%>
      <div class="location-card">
        <h5 class="location-heading">Place :</h5>
        <p class="location-details"><%= public_location.place %></p>
        <h5 class="location-heading">Adresse :</h5>
        <p class="location-details"><%= public_location.address %></p>
        <%= link_to "Voir détail", location_path(public_location), class: "btn sweetButton" %>
      </div>
    <% end %>

    <% @private_locations.each do |private_location|%>
      <div class="location-card">
        <h5 class="location-heading">Place :</h5>
        <p class="location-details"><%= private_location.place %></p>
        <h5 class="location-heading">Adresse :</h5>
        <p class="location-details"><%= private_location.address %></p>
        <%= link_to "Voir détail", location_path(private_location), class: "btn sweetButton" %>
      </div>
    <% end %>
  </div>

  <%= link_to "Créer un nouveau lieu", new_location_path, class: "btn sweetButton" %>

</div>
