<div id="location_show" style="text-align: center">

<br><br>

<h1> ceci est le show du controller locations </h1>
<h2> il sert à montrer le détail d'un lieu pendant le mariage</h2>

<br><br>





    
        <h5>Place : </h5><%= @location.place %>
        <h5>Adress : </h5><%= @location.address %>
        <h5>Description : </h5><%= @location.description %>

        <br><br>

        <%= link_to "Editer", edit_location_path, class: "btn btn-success" %>
        <%= link_to "Retour", locations_path, class: "btn btn-info" %>
        <%= link_to "Supprimer", location_path(@location.id), method: 'delete', class: "btn btn-danger" %>

</div>
