<div class="mt-1">
  <div id="location_show" style="text-align: center">
    <h2>Un endroit qui vous tient à cœur</h2>
  </div>
  <div>
    <div class="container d-flex justify-content-center">
      <div class="card col-md-6">
        <div class="card-header">
          <h5>Place : <%= @location.place %></h5>
        </div>
        <div class="card-header">
          <h5>Address : <%= @location.address %></h5>
        </div>
        
        <div class="card-footer d-flex justify-content-space-around">
          <div class="col-md-4">
            <%= button_to "Editer", edit_location_path, class: "btn btn-success" %>
          </div>
          <div class="col-md-4">
            <%= button_to "Retour", locations_path, class: "btn btn-info" %>
          </div>
          <div class="col-md-4">
            <%= button_to "Supprimer", location_path(@location.id), method: :delete, class: "btn btn-danger", data: { turbo: false, confirm: "Êtes-vous sûr de vouloir supprimer ?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>