<% content_for :title, "Détails de l'image - #{@image.title}" %>
<% content_for :meta_description, "Consultez les détails de l'image #{@image.title} dans l'album #{@album.title} de l'événement #{@event.title}.Explorez les commentaires associés et ajoutez votre propre commentaire." %>

<div class="container-fluid">
  <div class="row">
    <h2><%= @image.title %> : <%= @image.description %></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row d-flex justify-content-around align-items-center">
    <div class="col-md-8 d-flex align-items-center justify-content-center">
      <div class="container-fluid mt-2 mb-0" style="height: 100%">
        <a data-fancybox="gallery" href="<%= url_for(@image.image) %>">
          <img src="<%= url_for(@image.image) %>" alt="<%= @image.title %>" style="max-height: 500px; width: auto; display: block; margin: 0 auto;">
        </a>
      </div>
    </div>
    <div class="col-md-3 d-flex align-self-start">
      <div class="container-fluid p-5 mr-2">
        <div class="row">
          <%= link_to 'Retourner à l Album', event_album_images_path(@event, @album), class: 'btn sweetButton' %>
        </div>
        <div class="row m-3">
          <h6><%= @image.comments.count %></strong> commentaire(s)</h6>
        </div>
        <div class="row" style="max-height: 150px; overflow-y: auto;">
          <% @comments.each do |comment| %>
            <div class="comment-container">
              <p class="text-black">"<%= comment.content %>"</p>
              <div class="d-flex mt-1 justify-content-end">
                <p class="text-black"><%= comment.user.first_name.presence || comment.user.email %></p>
                <br>&nbsp;&nbsp;
                <%= button_to 'x', event_album_image_comment_path(@event, @album, @image, comment), method: :delete, class: 'btn btn-light', style:'border: 0px solid #ccc; padding: 0.005rem 0.05rem;'%>
              </div>
              <br><br>
            </div>
          <% end %>
        </div>
        <div class="row mt-5">
          <div class="d-flex justify-content-center">
            <%= form_with(model: [ @event, @album, @image, @image.comments.build ], url: event_album_image_comments_path(@event, @album, @image), method: :post, remote: true) do |form| %>
              <%= form.text_area :content, placeholder: 'Ajouter un commentaire' %>
            </div>
            <div class="d-flex justify-content-center">
              <%= form.submit 'Ajouter Commentaire', class: 'btn btn-light' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

