<div class="container-fluid">
  <div id="carouselExample" class="carousel slide my-custom-carousel mx-auto rounded mt-3">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <%= image_tag('carousel_1.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_2.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_3.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_4.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_5.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_6.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_7.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_8.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_9.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_10.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_11.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
      <div class="carousel-item">
          <%= image_tag('carousel_12.jpg', class: 'd-block img-fluid-carousel carousel-image', alt: '...') %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
