<div class="container-fluid" id="footer">
  <div class="d-md-flex justify-content-md-between">
    <!-- Left Link (GitHub) -->
    <div class="text-md-start me-md-2 mb-2 mb-md-0">
      <%= link_to "https://www.github.com/LLRMF", class: "btn footer-link", target: "_blank", rel: "noopener noreferrer" do %>
        <i class="fab fa-github"></i> GitHub
      <% end %>
    </div>
    <!-- Center Links (About, Contact, Feedback) -->
    <div class="text-md-center me-md-2 mb-2 mb-md-0">
      <%= link_to about_path, class: "btn footer-link" do %>
        <i class="fas fa-info-circle"></i> Qui sommes-nous ?
      <% end %>
    </div>
    <!-- Right Links (FAQ, CGU, Politique de confidentialité) -->
    <div class="text-md-center me-md-2 mb-2 mb-md-0">
      <%= link_to faq_path, class: "btn footer-link" do %>
        <i class="fas fa-question-circle"></i> FAQ
      <% end %>
    </div>
    <div class="text-md-end">
      <%= link_to terms_path, class: "btn footer-link" do %>
        <i class="fas fa-file-alt"></i> CGU
      <% end %>
    </div>
    <div class="text-md-end">
      <%= link_to privacy_path, class: "btn footer-link" do %>
        <i class="fas fa-lock"></i> Politique de confidentialité
      <% end %>
    </div>
  </div>
